extends layout
block content
    .container
      .hero-unit.welcome-box
        h1 Welcome!
        p future site of the
        h2 #{subtitle}
        p
          a.btn.btn-primary.btn-large(href='#') Start >>
